@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Mid Term</h1>
    <p class="lead">K.Gainer MVC Mid Term project.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Project contents</h2>
        <p>
           MVC project with enabled authentication. Database tables with a code forst approach. Functioning drop down list and functioning CRUD functionality. 
        </p>
        
    </div>
    
    
</div>